.block_ {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_1 {
    color: black;
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    margin-bottom: 48pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_2 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: -36pt
    }
.block_3 {
    color: black;
    display: block;
    font-size: 1.66667em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 48pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_4 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.block_5 {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 66pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_6 {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_7 {
    color: black;
    display: block;
    font-weight: bold;
    margin-bottom: 84pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_8 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_9 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_10 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt
    }
.block_11 {
    color: black;
    display: block;
    margin-bottom: 6pt;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt
    }
.block_12 {
    color: black;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.block_13 {
    color: black;
    display: block;
    font-size: 1.66667em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 18pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_14 {
    color: black;
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.block_15 {
    color: black;
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.block_16 {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0
    }
.block_17 {
    color: black;
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0
    }
.block_18 {
    color: black;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 18pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 18pt
    }
.block_19 {
    color: black;
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 18pt
    }
.block_20 {
    color: black;
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 18pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 18pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt
    }
.block_21 {
    color: black;
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 18pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 18pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: -36pt
    }
.block_22 {
    color: black;
    display: block;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 18pt
    }
.block_23 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 18pt
    }
.block_24 {
    color: black;
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.block_25 {
    color: black;
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt
    }
.block_26 {
    display: block;
    font-size: 0.75em;
    margin-bottom: 30pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_27 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 66pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt
    }
.block_28 {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 66pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt
    }
.block_29 {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt
    }
.block_30 {
    color: black;
    display: block;
    font-weight: bold;
    margin-bottom: 84pt;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt
    }
.block_31 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt
    }
.block_32 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt
    }
.block_33 {
    color: black;
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.block_34 {
    color: black;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.block_35 {
    color: black;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.block_36 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.block_37 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.block_38 {
    color: black;
    display: block;
    font-size: 1.66667em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 18pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre {
    color: #7F7F7F;
    display: block;
    font-family: "Georgia", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-weight: bold
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    height: 0
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    height: 18.9pt;
    line-height: 1.2;
    width: 14.4pt
    }
.calibre6 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre7 {
    white-space: pre-wrap
    }
.calibre8 {
    text-decoration: none
    }
.calibre9 {
    height: 648pt;
    width: 432pt
    }
.calibre10 {
    display: block;
    line-height: 1.2
    }
.calibre11 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre12 {
    height: 648pt;
    line-height: 1.2;
    width: 406pt
    }
.calibre13 {
    height: 648pt;
    width: 406pt
    }
.calibre14 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.text_ {
    color: #0563C1;
    text-decoration: underline
    }
.text_1 {
    font-size: 2.66667em;
    font-weight: bold;
    line-height: 1.2
    }
.text_2 {
    font-size: 2.22222em;
    font-weight: bold;
    line-height: 1.2
    }
