.b_current__and__height__openpar_1_closepar_ {
    height: 90%;
    width: auto
    }
.b_simple_box__and__all_margins__and__width {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    height: auto;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    padding-bottom: 1mm;
    padding-left: 1mm;
    padding-right: 1mm;
    padding-top: 1mm;
    width: 100%
    }
.c_span_body-char-italic {
    font-style: italic;
    font-weight: normal
    }
.c_span_er-char-bold-italic {
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold
    }
.c_span_er-char-italic {
    font-style: italic;
    font-variant: small-caps
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    text-align: center;
    width: 100%
    }
.calibre2 {
    height: auto;
    width: 100%
    }
.calibre3 {
    display: block
    }
.calibre4 {
    height: auto;
    line-height: 1.2;
    width: 100%
    }
.calibre5 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre6 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre7 {
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.2
    }
.calibre8 {
    font-size: 1.41667em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.calibre9 {
    font-style: italic
    }
.calibre10 {
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.calibre11 {
    line-height: 1.2
    }
.calibre12 {
    font-size: 0.88889em;
    font-style: normal;
    font-weight: bold
    }
.calibre13 {
    display: block;
    line-height: 1.2
    }
.calibre14 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase
    }
.calibre15 {
    font-size: 1.41667em;
    font-style: italic;
    line-height: 1.2
    }
.calibre16 {
    font-style: italic;
    line-height: 1.2
    }
.calibre17 {
    display: block;
    page-break-before: always
    }
.calibre18 {
    background-color: #FFF;
    border-bottom-color: #FFF;
    border-bottom-style: solid;
    border-bottom-width: 0.11pt;
    border-left-color: #FFF;
    border-left-style: solid;
    border-left-width: 0.11pt;
    border-right-color: #FFF;
    border-right-style: solid;
    border-right-width: 0.11pt;
    border-top-color: #FFF;
    border-top-style: solid;
    border-top-width: 0.11pt;
    height: auto;
    width: 100%
    }
.calibre19 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre20 {
    height: auto;
    line-height: 1.2;
    max-width: 100%;
    width: 100px
    }
.calibre21 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre22 {
    background-color: #FFF;
    height: auto;
    width: 100%
    }
.calibre23 {
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%
    }
.calibre24 {
    text-decoration: none
    }
.calibre25 {
    height: auto;
    max-width: 100%;
    width: 100px
    }
.calibre26 {
    background-color: #FFF;
    line-height: 1.2
    }
.calibre27 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    oeb-column-number: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.coverimage {
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
    }
.imagecontainer {
    display: block;
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    width: 100%
    }
.p_author_27_s_book_list {
    color: #019600;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase
    }
.p_author-head {
    display: block;
    font-size: 1.41667em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    text-align: center;
    text-indent: 0
    }
.p_author-head_country {
    display: block;
    font-size: 1.41667em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p_available-now {
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.62em;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0
    }
.p_bible-verse {
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1.26em;
    margin-right: 1.26em;
    margin-top: 1.26em;
    text-align: justify;
    text-indent: 0
    }
.p_body_para {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.26em
    }
.p_body_para_after_time {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p_bookpic {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    width: 35%
    }
.p_cash-depleted {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold;
    line-height: 200%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    text-align: center;
    text-indent: 0
    }
.p_centre {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p_centre1 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 25%
    }
.p_chapter-name {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 1.41667em;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p_chapter-num {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 75px
    }
.p_chapter-num1 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 92px
    }
.p_chapter-num2 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 97px
    }
.p_chapter-num3 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 99px
    }
.p_chapter-num4 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 100px
    }
.p_chapter-num5 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 168px
    }
.p_chapter-num6 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 140px
    }
.p_chapter-num7 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 162px
    }
.p_chapter-num8 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 167px
    }
.p_chapter-num9 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 161px
    }
.p_chapter-num10 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 169px
    }
.p_chapter-num11 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 170px
    }
.p_chapter-num12 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 190px
    }
.p_chapter-num13 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 185px
    }
.p_chapter-num14 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 189px
    }
.p_chapter-num15 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 180px
    }
.p_chapter-num16 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 191px
    }
.p_chapter-num17 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 192px
    }
.p_chapter-num18 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 163px
    }
.p_chapter-num19 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 197px
    }
.p_chapter-num20 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 195px
    }
.p_chapter-num21 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 196px
    }
.p_chapter-num22 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 159px
    }
.p_chapter-num23 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 70px
    }
.p_chapter-num24 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 93px
    }
.p_chapter-symbol-litb {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 121px
    }
.p_chapter-symbol-litb1 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 36px
    }
.p_chapter-symbol-litb2 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 37px
    }
.p_chapter-symbol-litb3 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 109px
    }
.p_chapter-symbol-litb4 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 76px
    }
.p_chapter-symbol-litb5 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 101px
    }
.p_chapter-symbol-litb6 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 221px
    }
.p_chapter-symbol-litb7 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.9em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 35px
    }
.p_continued {
    color: #019600;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.p_copyright-1-space {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 0.58333em;
    font-style: normal;
    hyphens: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.36em;
    text-align: center;
    text-indent: 0
    }
.p_div_bphoto {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 25%
    }
.p_div_ork-plaza {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 455px
    }
.p_div_the-city {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7em;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 50%
    }
.p_div_the-city1 {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 480px
    }
.p_divider {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 48px
    }
.p_divider1 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 41px
    }
.p_divider2 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 11px
    }
.p_divider3 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 35px
    }
.p_divider4 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 14px
    }
.p_divider5 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 15px
    }
.p_divider6 {
    display: inline-block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 30px
    }
.p_headers {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase
    }
.p_hospital-airport-sign-single-space {
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-align: center;
    text-indent: 0
    }
.p_radio_ {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1.26em;
    margin-right: 1.26em;
    margin-top: 1.26em;
    text-align: justify;
    text-indent: 0
    }
.p_radio_1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1.26em;
    margin-right: 1.26em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.26em
    }
.p_s_graphic {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 35%
    }
.p_s_graphic_after {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    text-align: justify;
    text-indent: 1.26em
    }
.p_s_graphic_after_no_indent {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    text-align: justify;
    text-indent: 0
    }
.p_s_graphic1 {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    max-width: 100%;
    text-align: center;
    text-indent: 0;
    width: 85%
    }
.p_stateofreason {
    display: block;
    font-size: 1.41667em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.8em;
    page-break-before: avoid;
    text-align: center;
    text-decoration: underline;
    text-indent: 0
    }
.p_stateofreason1 {
    display: inline-block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    max-height: 100%;
    max-width: 100%;
    page-break-before: avoid;
    text-align: center;
    text-indent: 0;
    width: 50%
    }
.p_stateofreason2 {
    display: inline-block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    max-height: 100%;
    max-width: 100%;
    page-break-before: avoid;
    text-align: center;
    text-indent: 0;
    width: 20%
    }
.p_stateofreason3 {
    display: inline-block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    max-height: 100%;
    max-width: 100%;
    page-break-before: avoid;
    text-align: center;
    text-indent: 0;
    width: 11%
    }
.p_time {
    display: block;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.p_time1 {
    display: block;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    text-align: left;
    text-indent: 0;
    width: 202px
    }
.p_usa-today-article-title {
    display: block;
    font-size: 1.41667em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.26em;
    text-align: center;
    text-indent: 0
    }
